@import "../css/reset.css";
@import "../css/partial/side.css";

/* title of Project  */
#design_list,
#coding_list {
  padding: 10px;
  margin: 15px 0;
}
/* detail that title of Project */
#content_skills > ul > li {
  padding: 5px 0;
  margin: 10px 0;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
#content_skills > ul > li > img,
#htmlCss > img {
  float: left;
  margin-top: 10px;
}
/* images */
img {
  width: 90px;
  height: 90px;
  padding: 10px 15px 10px 10px;
}
#htmlCss > img {
  width: 70px;
  margin-right: 20px;
}
#pug {
  width: 110px;
}
#htmlCss {
  position: relative;
}
#htmlCss > img:last-child {
  position: absolute;
  top: 3px;
  left: 28px;
}
#content_skills > #coding_list::after,
#design_list::after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 800px) {
}
