extends layout

block create
    #item_create 
        form(action="/create_process" method="post")
            p
                input(type="text", name="title" placeholder="title")
            p
                textarea(name="description" placeholder="description")
            p
                input(type="submit", value="submit")