extends layout 

block content
    #listWhite 
        ul 
            li 
                a(href="/detail") Detail 
            li 
                a(href="/gallery") Gallery 
            li 
                a(href="/strategy") Strategy 
    .modal#modalDetail
        .overlay
        .contents.detail
            #contents_video
                button#cancelBtn ❌
                img(src="/images/prev.png", alt="prev" id="prev")
                img(src="/images/next.png", alt="prev" id="next")
                #videoList
                    ul
            .contents_detail
                ul 
                    ul 
                        li 제작
                        li 
                            a(href="http://http://supercreative.kr/sc/" target="_blank") 슈퍼크리에이티브 
                    ul 
                        li 배급
                        li
                            a(href="https://www.smilegatemegaport.com/" target="_blank") (주)스마일게이트메가포트
                    ul 
                        li 등급
                        li 12세이상 이용가
                    ul 
                        li 출시
                        li 2018.08.30.
                    ul 
                        li 공식
                        li 
                            a(href="href=https://epic7.smilegatemegaport.com/" target="_blank") 공식사이트
                        li 
                            a(href="https://twitter.com/epic7twt" target="_blank") 트위터
                        li 
                            a(href="https://www.facebook.com/EpicSevenKR" target="_blank") 페이스북
                        li 
                            a(href="https://www.youtube.com/channel/UC4dV8Fy1GiqjxU4OQ6ZoKWw" target="_blank") Youtube
                    ul 
                        li 가격
                        li 부분유료화
                    ul 
                        li 플랫폼
                        li Android, iOS
                #app_pic
                    img(src="/images/app_pic.png" alt="app_pic")
block script
    script(type="module" src="/javascripts/listwhite/detail.js") 