extends strategyBase

block uploadList
    h4#pageTitle=pageTitle
    form(method="POST")
        input(name="title" placeholder="Writnig title" value=writing.title required)
        input(value="save" type="submit")