doctype html
html
  head
    title #{pageTitle} | Epic7pan 
    link(rel="stylesheet" href='/stylesheets/index.css')
  body
    block content 
      //- h2 Hello this is Epic7pan page!
    block script
    