@import "./strategy/edit.css";
@import "./strategy/see.css";
@import "./strategy/upload.css";

.strategy {
  width: 50%;
  background-color: white;
  padding: 50px;
  text-align: center;
}
#upload_list {
  margin: auto 0;
  height: 30px;
  line-height: 30px;
  border: 0.1px solid #bfbfbf;
  background-color: #bfbfbf;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}
#upload_list > li {
  display: block;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}
#upload_list > li:first-child {
  padding-left: 15px;
}
#upload_list > li:not(:last-child) {
  float: left;
  font-size: 15px;
}
#upload_list > li:last-child {
  float: right;
  padding-right: 15px;
  font-weight: bold;
}
#upload_list > li.selected {
  color: #ff5000;
  background-color: white;
  border-bottom: 2px solid white;
  box-sizing: border-box;
}

ul.item {
  display: grid;
  grid-template-columns: 60% 1fr 1fr 1.5fr;
}
ul.item > li {
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  border-bottom: 0.1px solid #bfbfbf;
}
ul.item > li > a {
  text-decoration: none;
  color: black;
}
ul.item > li:first-child {
  text-align: left;
}

#write {
  display: inline;
  /* position: absolute;
  left: 50%; */
  height: auto;
  float: right;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#write > a {
  display: block;
  width: 50px;
  background-color: #ff5000;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
#goto {
  display: block;
  float: left;
  width: 100%;
  margin-top: 10px;
}
#goto > ul {
  display: inline-block;
}
#goto > ul > li {
  display: inline;
  padding: 5px;
  float: left;
  font-weight: bold;
  cursor: pointer;
}

#search {
  display: block;
  float: left;
  width: 100%;
  margin: 10px;
}
#pageTitle,
ul#writeingList {
  /* position: absolute; */
  display: none;
}
