extends ../base

block content 
    form(method="POST")
        input(placeholder="Old Password")
        input(placeholder="New Password")
        input(placeholder="New Password Confirmation")
        inpurt(type="submit" value="Change Password")