extends ../base
include ../../mixins/video

block content 
    .profile__data 
        img(src="/wetube"+user.avatarUrl).avatar
        h3=user.name
    .video-grid
        each videoList in user.videos
            +videoList(videoList)
        else 
            span.empty__message No videos found 