@import "../../stylesheets/reset.css";

body {
  background-color: #f6f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 30px 0;
}
/* Canvas window */
.canvas {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}

/* Control space */
#container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* range */
.range {
  margin-top: 10px;
}
.range:active {
  transform: scale(1.05);
}

/* buttons */
.buttons {
  margin-top: 30px;
}
.buttons > button {
  all: unset;
  width: 80px;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: 900;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}
.buttons > button:active {
  transform: scale(0.9);
}

/* Colors */
.colors {
  display: flex;
  margin-top: 30px;
  padding: 10px auto;
}
.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}
.color:active {
  transform: scale(0.9);
}
