@import "../personHomeCSS/reset.css";
@import "../personHomeCSS/menu.css";

#area_intro,
#area_certi {
  padding: 20px;
  border: 1px solid #8f8681;
  margin: 5px 0;
  padding-left: 20%;
}
#content-intro,
#content-certi {
  display: inline;
  float: left;
}

#content-intro > ul,
#content-certi > ul {
  padding: 20px;
}
#content-intro > ul > li,
#content-certi > ul > li {
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
}
#content-intro > ul > li:last-child {
  display: inline-block;
}

#content-intro > ul > li:nth-child(1),
#content-intro > ul > li:nth-child(3) {
  float: left;
}
#content-intro > ul > li:nth-child(2) {
  margin-left: 70px;
}
img {
  float: left;
  padding: 0 30px;
}
