mixin videoList(video)
    a(href=`/wetube/videos/${video.id}`).video-mixin
        .video-mixin__thumb
        .video-mixin_data 
            span.video-mixin__title=video.title
            .video-mixin__meta
                span #{video.owner.name} • 
                span #{video.meta.views} 회 
