extends strategyBase

block uploadList
    form#edit(method="POST")
        input(name="title" placeholder="Writnig title" value=writing.title required)
        input(name="description", placeholder="Description", minlength=20, value=writing.description, required)
        input(name="hashtags", type="text", placeholder="Hashtags, seperated by comma.", required, value=writing.hashtags.join())
        input(value="글쓰기" type="submit")
block script
    script(type="module" src="/javascripts/listwhite/overlay/overStra.js") 
