doctype html
html
  head
    title #{pageTitle} | Epic7pan 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet" href='/static/css/epicMain.css')
  body
    block content 
      //- h2 Hello this is Epic7pan page!
    block script
    