extends strategyBase
include ../mixins/write

block uploadList
    ul#upload_list
    each item in writingList 
        +write(item)
    else 
        li Sorry nothing found.  
    #write 
        a(href="/epic7pan/strategy/update") 글쓰기    
    #goto
        ul 
            li ⏪
            li ◀
        ul
            li 1
            li 2
            li 3
            li 4
            li 5
            li 6
            li 7
            li 8
            li 9
            li 10
        ul 
            li ▶
            li ⏩
    form#search(method="GET") 
        input(type="text", placeholder="Search by title", name="keyword")
        input(type="submit", value="검색")
block script
    script(type="module" src="/static/js/strategy.js") 
    script(type="module" src="/static/js/overStra.js") 