mixin write(info)
    div
        h4
            a(href=`/${info.id}`)=info.title   
        ul 
            li #{info.user}
            li Poseted #{info.createdAt}
            li #{info.views} views.