.gallery {
  width: unset;
  overflow: hidden;
}

/* Pictures */
.slide {
  position: relative;
  width: 10000%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.slide > li > img {
  float: left;
  border-radius: 5px;
  width: 1080px;
}
/* what it's expressed the order*/
#bullets {
  position: absolute;
  display: inline;
  height: auto;
  text-align: center;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
}
#bullets > li {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid white;
  padding: 2.5px;
  /* cursor: pointer; */
  margin: 7.5px 0;
  width: 15px;
  height: 15px;
}
#bullets > li.on {
  background-color: white;
}
#bullets > li > a {
  line-height: 15px;
  text-decoration: none;
  visibility: hidden;
}
#slideToggle {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 5px solid white;
  padding: 2.5px;
  cursor: pointer;
  margin: 7.5px 0;
}
#slideToggle > a {
  line-height: 30px;
  text-decoration: none;
  color: white;
}
