#listWhite {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10px;
}

#listWhite > ul {
  border-radius: 16px;
  background-color: white;
  opacity: 70%;
  display: inline-block;
  align-items: center;
  padding: 15px 0;
}

#listWhite > ul > li {
  display: inline;
  color: black;
  font-weight: bold;
  font-size: 17px;
  padding: 15px;
  cursor: pointer;
}
