/* index of introduce, certificate icon */
.menu {
  float: left;
  padding: 15px;
  width: 135px;
  background-color: #8f8681;
  color: white;
  border-radius: 25px;
  line-height: 25px;
  font-size: 17px;
  font-weight: bold;
  margin: 10px auto;
}

/* coding, projects menu icon */
#skills_menu {
  padding: 15px;
  width: 90px;
  background-color: #8f8681;
  color: white;
  border-radius: 35px;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: bold;
  margin: 30px auto;
}
