.gallery {
  width: unset;
}

/* Pictures */
.picList {
  display: block;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}
.picList > li {
  width: 10000%;
}
.picList > li > img {
  float: left;
  border-radius: 5px;
  width: 1080px;
}
/* what it's expressed the order*/
#silde {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
}
#silde > ul {
  display: inline;
  height: auto;
}
#silde > ul > li {
  display: block;
  border-radius: 50%;
  border: 5px solid white;
  padding: 2.5px;
  margin: auto 5px;
  float: left;
  cursor: pointer;
}
#silde > ul > li:not(:last-child) {
  margin: 7.5px 0;
  width: 15px;
  height: 15px;
  background-color: white;
}
#silde > ul > li.picListToggle {
  width: 30px;
  height: 30px;
}
#silde > ul > li.picListToggle > a {
  line-height: 30px;
  text-decoration: none;
  color: white;
  /* opacity: 0; */
}
#silde > ul > li:not(:last-child) > a {
  line-height: 15px;
  text-decoration: none;
  opacity: 0;
}
