@import "../css/reset.css";
@import "../css/menu.css";

#bg {
  position: relative;
  max-width: 1920px;
  max-height: 1080px;
}
#bg > img {
  width: 100%;
}
#epic7 {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
