@import "../css/reset.css";
@import "../css/menu.css";
@import "../css/detail.css";
@import "../css/gallery.css";
@import "../css/modal.css";

body {
  position: relative;

  background-image: url(../images/bg.jpg);
  background-size: 100%;
}
#epic7 {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
