extends base

block link
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
    link(rel="stylesheet" href="stylesheets/personHomeCSS/index.css")
block content 
    a(href="/introduce")
        img(src="/images/main.png", alt="home")#picture.position-absolute.top-50.start-50.translate-middle
