extends base

block content 
    include ./partials/menuList
    #wrap 
        aside#sidebar 
            #skills_menu SKILLS 
            ul#skills_list 
        #content_skills 
            h1 Coding 
            ul#coding_list 
                li#htmlCss HTML/CSS
                    img.coding(src="images/html.png", alt="html")
                    img.coding(src="images/css.png", alt="css")
                li Javascript 
                    img.coding(src="images/300size/javascript.png", alt="Javascript")
                li JQuery 
                    img.coding(src="images/300size/jquery.png", alt="JQuery")
                li NodeJS 
                    img.coding(src="images/300size/nodeJs.png", alt="NodeJS")
                li Pug 
                    img.coding(src="images/300size/pug.png", alt="Pug")#pug
                li MongoDB 
                    img.coding(src="images/300size/mongodb.png", alt="MongoDB")
            h1 Design 
            ul#design_list 
                li Photoshop 
                    img.coding(src="images/300size/photoshop.png", alt="Photoshop")
                li Illustrator 
                    img.coding(src="images/300size/Illustrator.png", alt="Illustrator")
block script
    script(src="/static/js/dropdown.js")