extends base

block content 
    include ./partials/menuList
    #wrap 
        aside#sidebar 
            #skills_menu SKILLS 
            ul#skills_list 
        #content_skills 
            h1 Project 
            ol 
                li Homepage 
                    a(href="http:epic7pan" target="_blank") 
                        img.project(src="images/projects/1. epic.jpg", alt="epic")
                li Clone coding 
                    ol 
                        li Todolist 
                            a(href="2.cloneCoding/02. toDoList/index.html" target="_blank") 
                                img.project(src="images/projects/2. todolist.jpg", alt="todolist")
                        li Painting board 
                            a(href="2.cloneCoding/01. Paint_program/index.html" target="_blank") 
                                img.project(src="images/projects/3. paintboard.jpg", alt="paintboard")
                        li Wetube
                            a(href="http:wetube" target="_blank") 
                                img.project(src="images/projects/wetube.jpg", alt="wetube")
                    
block script
    script(src="/static/js/dropdown.js")