header
    a(href="/wetube").header__logo
        i.fab.fa-youtube
    nav 
        ul 
            li 
                a(href="/wetube/search")
                    i.fas.fa-search 
            if loggedIn 
                li 
                    a(href="/wetube/videos/upload") Upload Video
                li 
                    a(href="/wetube/users/edit") Edit Profile
                li 
                    a(href="/wetube/users/logout") Log Out
                li 
                    a(href=`/wetube/users/${loggedInUser._id}`) 
                        if loggedInUser.avatarUrl === ""
                            span 😊
                        else 
                            if loggedInUser.avatarUrl.includes("github")
                                img.header__avatar(src=loggedInUser.avatarUrl)
                            else
                                img.header__avatar(src="/"+loggedInUser.avatarUrl)
            else 
                li
                    a(href="/wetube/login") Login
                li 
                    a(href="/wetube/join").header__btn Join

    