extends ../base
include ../../mixins/video

block content 
    form(method="GET").search__form
        input(placeholder="Search by title", name="keyword", type="text")
        button 
            i.fas.fa-search
    .video-grid
        each videoList in videos
            +videoList(videoList)
        else 
            span.empty__message No videos found 