doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}  
        link(rel="stylesheet" href="http://unpkg.com/mvp.css") 
        link(rel="stylesheet" href="/static/css/styles.css")
    body 
        header
            h1=pageTitle 
            nav 
                ul 
                    li 
                        a(href="/wetube") Home
                    if loggedIn 
                        li 
                            a(href="/wetube/videos/upload") Upload Video
                        li 
                            a(href=`/wetube/users/${loggedInUser._id}`) My Profile
                        li 
                            a(href="/wetube/users/edit") Edit Profile
                        li 
                            a(href="/wetube/users/logout") Log Out
                    else 
                        li 
                            a(href="/wetube/join") Join
                        li
                            a(href="/wetube/login") Login
                    li 
                        a(href="/wetube/search") Search
                    
        main 
            block content 
    include ../partials/footer
    script(src="/static/js/main.js") 